# What we are going to do ? || Hum kia analyse krne walay hain?
 
Q1. What is the overall sales trend?    || Kia Kia Bik rha hy ajkal kiska trend hy? 

Q2. Which are the Top 10 products by sales? || 10 behtareen Products kon konse hain?

Q3. Which are the Most Selling Products? || sabse zada bikne wali chezain kon konsi hain?

Q4. Which is the most preferred Ship Mode? || 

Q5. Which are the Most Profitable Category and Sub-Category in the market? || Sab se zada munafay mand chez kia hy market mei

## Importing Libraries

In [2]:
#FOR DATA MANIPULATION \\ DATA KO EXTRACT KRNA STRUCTURES ADN FUNCTIONS PR KAAM KRNA DATA KY ETC... DATA MANIPULATION KY LIYE PANDAS USE KRTY HAIN
import pandas as pd

#DATA VISUALISATION \\ DATA KO KHOBSORAT TAREQAY SE DIKHANA (PLOTS,GRAPHS ETC).... HUM SEABORN AND PLOTS KY LIYE MATPLOTLIB KA ISTEMAL KRTY
import seaborn as sns

import matplotlib.pyplot as plt

%matplotlib inline  

# using this for inline ploting || jis line pr kaam krrhy uspr plot krne ky liye use hota

# ALERT ( if pandas or seaborn doesnot work kindly use pip install pandas or pip install matplotlib commands etc. )

# Importing Dataset

In [4]:
df = pd.read_excel('superstore_sales.xlsx')  #data set import krne ka treqa

# Data Auditing

To analyse any data set we audit it we will find out how much data is given and whats missing. 

Hum pehle data set analyse kreinagy or check kreingy ky haamra dataset dikhta kesa hy or kia chezain usmei missing hain ya extra hain

In [5]:
#FOR FIRST 5 ROWS
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,2011-01-01,2011-01-05,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,Medium,2011

In [6]:
#FOR LAST FIVE ROWS 
df.tail()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
51285,CA-2014-115427,2014-12-31,2015-01-04,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188,0.890,Medium,2014
51286,MO-2014-2560,2014-12-31,2015-01-05,Standard Class,Liz Preis,Consumer,Souss-Massa-Draâ,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",3.990,1,0.0,0.4200,0.490,Medium,2014
51287,MX-2014-110527,2014-12-31,2015-01-02,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.400,3,0.0,12.3600,0.350,Medium,2014
51288,MX-2014-114783,2014-12-31,2015-01-06,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.120,1,0.0,0.5600,0.199,Medium,2014
51289,CA-2014-156720,2014-12-31,2015-01-04,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.024,3,0.2,-0.6048,0.170,Medium,2014

from these i cannot excatly tell what are the number of rows and columns of dataset 
so to get the exact value or shape of this dataset 

actual value jannay ky liye dataset ki hum shape func ka istemal kreingy

In [8]:
#shape of dataset 
df.shape

(51290, 21)

These are the rows and columns of the datset

Sometimes we cant get the whole columns of the dataset as for this example we have 21 of them but we have been showing less colums so for this we will be using simple column callout fucnt 

hamare pass kabhi kabar zada tadad mei column hone ki wajh se column show nhi hoty to hum column fucn ka use krty hway pata lagty ky kitne total columns hain or kia name hain

In [10]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [11]:
# FOR THE CONCISE SUMMARY OF DATASET       Over all summary dataset ki
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  datetime64[ns]
 2   ship_date       51290 non-null  datetime64[ns]
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  float64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 8.2+ MB

In [14]:
#CHECKING THE MISSING VALUES   missing data or null data ky liye we use null command or na comand 
df.isnull().sum()

order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_name     0
segment           0
state             0
country           0
market            0
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
quantity          0
discount          0
profit            0
shipping_cost     0
order_priority    0
year              0
dtype: int64

In [15]:
#DESCRIPTIVE SUMMARY OF DATASET 
df.describe()

,sales,quantity,discount,profit,shipping_cost,year
count,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,246.490581,3.476545,0.142908,28.641740,26.375818,2012.777208
std,487.565361,2.278766,0.212280,174.424113,57.296810,1.098931
min,0.444000,1.000000,0.000000,-6599.978000,0.002000,2011.000000
25%,30.758625,2.000000,0.000000,0.000000,2.610000,2012.000000
50%,85.053000,3.000000,0.000000,9.240000,7.790000,2013.000000
75%,251.053200,5.000000,0.200000,36.810000,24.450000,2014.000000
max,22638.480000,14.000000,0.850000,8399.976000,933.570000,2014.000000

# Exploratory Data Analysis

to find the insight from the datasets we use this method

 - What is the overall sales trend?

First we will find the min and maximum dates then we will fetch out the month and the year from these given dates

In [22]:
df['order_date'].min()

Timestamp('2011-01-01 00:00:00')

In [23]:
df['order_date'].max()

Timestamp('2014-12-31 00:00:00')

In [26]:
#GETTING MONTH AND YEAR FROM DATA SET    YOU CAN ALSO ECTRACT THE DAY ALSO BY %d but thats for another case :)

df["month_year"] = df['order_date'].apply(lambda x: x.strftime('%Y-%m'))

In [25]:
df["month_year"]

0        2011-01
1        2011-01
2        2011-01
3        2011-01
4        2011-01
          ...
51285    2014-12
51286    2014-12
51287    2014-12
51288    2014-12
51289    2014-12
Name: month_year, Length: 51290, dtype: object

If u dont get the use of lambda func with time kindkly check out this https://stackoverflow.com/questions/35488036/using-lambda-and-strftime-on-dates-when-there-are-null-values-pandas

In [27]:
#for month on month sales we can simply say 
df.groupby('month_year').sum()

,sales,quantity,discount,profit,shipping_cost,year
month_year,,,,,,
2011-01,98898.48886,1463,68.758,8321.80096,10544.78800,870763
2011-02,91152.15698,1224,52.252,12417.90698,10681.16300,760158
2011-03,145729.36736,1836,74.212,15303.56826,13096.18550,1083929
2011-04,116915.76418,2020,80.782,12902.32438,12954.52000,1134204
2011-05,146747.83610,2013,82.382,12183.82870,16443.20600,1138226
2011-06,215207.38022,3112,159.534,23415.24702,23813.10900,1844087
2011-07,115510.41912,1774,80.086,5585.00352,11844.47600,995445
2011-08,207581.49122,3035,121.462,23713.66772,22001.13600,1765658
2011-09,290214.45534,3707,137.678,35776.88394,29664.85100,2115572
2011-10,199071.26404,2727,110.192,25963.41834,21380.08200,1556514
2011-11,298496.53752,4039,178.836,32709.17772,34701.99800,2290529
2011-12,333925.73460,4493,187.220,40647.98400,37144.83100,2539893
2012-01,135780.72024,1845,74.454,10401.63764,13665.74900,1084468
2012-02,100510.21698,1473,62.784,15000.09618,11393.72600,863148
2012-03,163076.77116,2237,101.682,17992.91756,16170.78500,1331944
2012-04,161052.26952,2250,93.248,17366.96722,16767.86200,1321884
2012-05,208364.89124,2921,114.272,29876.70374,23801.61700,1690080
2012-06,256175.69842,3671,168.284,34407.15362,28155.90000,2285632
2012-07,145236.78512,2321,104.404,15585.38842,17334.43500,1325908
2012-08,303142.94238,3818,136.166,43573.87858,32038.73000,2178996
2012-09,289389.16564,4205,169.070,27776.18034,28023.17800,2460676
2012-10,252939.85020,3563,135.866,30662.88270,25085.74000,1991880
2012-11,323512.41690,5193,215.868,31820.72180,33489.74100,2937520
2012-12,338256.96660,4614,172.676,32950.75130,37563.36100,2583408
2013-01,199185.90738,2413,91.442,26810.55968,21677.43200,1427217
2013-02,167239.65040,2102,78.012,25340.02610,16911.85000,1217865
2013-03,198594.03012,2686,114.384,23433.77462,21268.01000,1541958
2013-04,177821.31684,2688,116.116,19462.03844,19133.23400,1580205
2013-05,260498.56470,3808,153.092,28495.69410,28315.21100,2127741
2013-06,396519.61190,5327,213.642,45478.41340,42814.02600,3079890
2013-07,229928.95200,3252,125.644,28863.82720,24501.84236,1862025
2013-08,326488.78936,4934,202.640,31023.66846,35673.08800,2902746
2013-09,376619.24568,5793,240.674,38905.66778,38488.40000,3385866
2013-10,293406.64288,3883,160.860,42433.22258,31174.68400,2214300
2013-11,373989.36010,5556,215.324,48062.99670,41407.16700,3212748
2013-12,405454.37802,5694,223.692,50202.87112,43183.80000,3224826
2014-01,241268.55566,3122,127.928,28001.38626,24870.80100,1848852
2014-02,184837.35556,2482,111.126,19751.69996,19525.80000,1522584
2014-03,263100.77262,3722,142.016,37357.26052,26838.63554,2150952
2014-04,242771.86130,3594,164.000,23782.30120,26272.71800,2116714
2014-05,288401.04614,4300,188.986,33953.55774,31882.58300,2585976
2014-06,401814.06310,6009,251.462,43778.60280,41894.07600,3520472
2014-07,258705.68048,3637,163.512,28035.87258,29581.73300,2189218
2014-08,456619.94236,5824,217.672,53542.89496,46759.35300,3373450
2014-09,481157.24370,6837,272.094,67979.45110,53485.43000,4064252
2014-10,422766.62916,5876,233.752,58209.83476,44622.41400,3274764
2014-11,555279.02700,7706,304.384,62856.58790,59918.35500,4324058
2014-12,503143.69348,7513,335.106,46916.52068,54853.89100,4336142

In [28]:
#Now we can see we have multiple data but we only need sales here so now we will fetch the data
#As we can see the sales is on first index so we can extract it from simple indexing of dataset by 
df.groupby('month_year').sum()['sales'].reset_index()  #this will reset entire indexing except sales

   month_year         sales
0     2011-01   98898.48886
1     2011-02   91152.15698
2     2011-03  145729.36736
3     2011-04  116915.76418
4     2011-05  146747.83610
5     2011-06  215207.38022
6     2011-07  115510.41912
7     2011-08  207581.49122
8     2011-09  290214.45534
9     2011-10  199071.26404
10    2011-11  298496.53752
11    2011-12  333925.73460
12    2012-01  135780.72024
13    2012-02  100510.21698
14    2012-03  163076.77116
15    2012-04  161052.26952
16    2012-05  208364.89124
17    2012-06  256175.69842
18    2012-07  145236.78512
19    2012-08  303142.94238
20    2012-09  289389.16564
21    2012-10  252939.85020
22    2012-11  323512.41690
23    2012-12  338256.96660
24    2013-01  199185.90738
25    2013-02  167239.65040
26    2013-03  198594.03012
27    2013-04  177821.31684
28    2013-05  260498.56470
29    2013-06  396519.61190
30    2013-07  229928.95200
31    2013-08  326488.78936
32    2013-09  376619.24568
33    2013-10  293406.64288
34    2013-11  373989.36010
35    2013-12  405454.37802
36    2014-01  241268.55566
37    2014-02  184837.35556
38    2014-03  263100.77262
39    2014-04  242771.86130
40    2014-05  288401.04614
41    2014-06  401814.06310
42    2014-07  258705.68048
43    2014-08  456619.94236
44    2014-09  481157.24370
45    2014-10  422766.62916
46    2014-11  555279.02700
47    2014-12  503143.69348